<div class="container">
  <div *ngIf="afAuth.authState | async as user; else login">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="user.photoURL" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ user.displayName }}</h5>
        <p class="card-text">{{ user.email }}</p>
        <a (click)="logout()" class="btn btn-primary">Logout</a>
      </div>
    </div>
  </div>
  <ng-template #login>
    <div 
      class="row"
      *ngIf="!phoneSignIn; else phone">
      <div class="col">
        <div class="row">
          <div class="col">
            <button class="btn btn-primary btn-block google"
              (click)="googleSignInViaPopup()">
              <i class="fab fa-google"></i> Google Login with Popup
            </button>
            <button class="btn btn-primary btn-block facebook"
              (click)="facebookSignInViaPopup()">
              <i class="fab fa-facebook-f"></i> Facebook Login with Popup
            </button>
            <button class="btn btn-primary btn-block twitter"
              (click)="twitterSignInViaPopup()">
              <i class="fab fa-twitter"></i> Twitter Login with Popup
            </button>
            <button class="btn btn-primary btn-block github"
              (click)="githubSignInViaPopup()">
              <i class="fab fa-github"></i> GitHub Login with Popup
            </button>
          </div>
          <div class="col">
            <button class="btn btn-primary btn-block google"
              (click)="googleSignInViaRedirect()">
              <i class="fab fa-google"></i> Google Login with Redirect
            </button>
            <button class="btn btn-primary btn-block facebook"
              (click)="facebookSignInViaRedirect()">
              <i class="fab fa-facebook-f"></i> Facebook Login with Redirect
            </button>
            <button class="btn btn-primary btn-block twitter"
              (click)="twitterSignInViaRedirect()">
              <i class="fab fa-twitter"></i> Twitter Login with Redirect
            </button>
            <button class="btn btn-primary btn-block github"
              (click)="githubSignInViaRedirect()">
              <i class="fab fa-github"></i> GitHub Login with Redirect
            </button>
          </div>
        </div>
        <hr>
        <div class="row">
          <button class="btn btn-primary btn-block email"
            (click)="toggleSignInMode()">
            <i class="far fa-envelope"></i> {{ signInMode ? 'Sign Up': 'Sign In' }} with Email/Password
          </button>
          <button class="btn btn-primary btn-block phone"
            (click)="togglePhoneSignIn()">
            <i class="fas fa-phone"></i> Login with Phone
          </button>
          <button class="btn btn-primary btn-block anonymous"
            (click)="signInAnonymously()">
            <i class="fas fa-user-secret"></i> Login with Anonymous
          </button>
        </div>
      </div>
      <div class="col">
        <form>
          <div class="form-group">
            <label for="email">Email</label>
            <input name="email" [(ngModel)]="email" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input name="password" [(ngModel)]="password" type="password" class="form-control">
          </div>
          <button class="btn btn-primary btn-block" (click)="signInOrSignUp()">{{ signInMode ? 'Sign In': 'Sign Up' }}</button>
        </form>
      </div>
    </div>
    <ng-template #phone>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input name="phoneNumber" [(ngModel)]="phoneNumber" type="text" class="form-control">
      </div>
      <div id="recaptcha-container"></div>
      <button 
        class="btn btn-primary btn-block"
        [disabled]="disableOTPSendButton"
        (click)="sendOTP()" [disabled]="disableOTPSendButton" (click)="sendOTP()">Send OTP</button>
      <hr>
      <div class="form-group">
        <label for="otp">OTP</label>
        <input name="otp" [(ngModel)]="otp" type="text" class="form-control">
      </div>
      <button class="btn btn-primary btn-block" (click)="verifyOTP()">Verify OTP</button>
      <button class="btn btn-primary btn-block" (click)="togglePhoneSignIn()">Cancel</button>
    </ng-template>
  </ng-template>
  
</div> 